#footer-pages ul { float:right;
}
#footer-pages ul li {
list-style: none; float: left; padding: 0 6px; font-size: 11px; color: #666;
}

@font-face {
    font-family: 'helvetica_neueregular';
    src: url('helvetica-neue-condensed-webfont.eot');
    src: url('helvetica-neue-condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('helvetica-neue-condensed-webfont.woff') format('woff'),
         url('helvetica-neue-condensed-webfont.ttf') format('truetype'),
         url('helvetica-neue-condensed-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.helvetica_neueregular {
	font-family: 'helvetica_neueregular';
}


