<footer id="footer" class="row" data-hook>
	<div class="container">
  <div id="footer-left" class="columns alpha eight" data-hook>
    <div class="logoinnova"><a href=""><img src="/assets/logo_innova.png"> </a></div>
  </div>
  <div id="footer-right" class="columns omega eight" data-hook></div>
	</div>
</footer>