<% if spree_current_user %>
  <li><%= link_to t(:my_account), spree.account_path, :class=>"icon-user" %></li>
  <li><%= link_to t(:logout), spree.logout_path %></li>
<% else %>
  <li id="link-to-login" class="border_dashed"><%= link_to t(:login), spree.login_path, :class=>"icon-user" %></li>
<% end %>
