<nav id="top-nav-bar" class="columns thirteen">
  <ul id="nav-bar" class="inline" data-hook>
    <li id="search-bar" style="display:none;" data-hook>
      <%#= render :partial => 'spree/shared/search' %>
    </li>
    <li id="link-to-cart" data-hook><%= link_to_cart %></li>
  </ul>
</nav>
