<% if Spree::Slide.published.count > 0 %>
  <% Rails.logger.info "SLIDE SLIDE PUBLISHED"  %>
  <div id="slider" class="columns sixteen">
    <ul class="bxslider">
      <% Spree::Slide.published.order('position ASC').each do |s| %>
        <li>
          <% if s.link_url.present? %>
            <%= link_to image_tag(s.image.url), "#{s.link_url}" %>
          <% else %>
            <%= image_tag(s.image.url) %>
          <% end %>
          <% if s.body.present? %>
            <div class="bx-caption">
              <span><%= s.body.html_safe %></span>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <script type="text/javascript">
  $(window).load(function() {
      $('.bxslider').bxSlider({
        //mode: 'fade',
        auto: true,
        autoControls: true,
        pause: 3000
      });
  });
  </script>
<% else %>
  <% Rails.logger.info "SLIDE SLIDE NO PUBLISHED"  %>
<% end %>

